doctype html
html(lang="en")
    head
        title
            block title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(name="title",content="Todo List")
        meta(name="description",content="")
        link(rel="stylesheet",href="dist/css/main.css")
    body
        div#app        
        script(src="dist/js/app.js")        